@import "../../../variables.scss";
.imprint {
   &-header {
    font-size: 1.5em;
     margin-top: 0;
   }
  &-body {
    grid-template-rows: auto auto auto auto;
    row-gap: 3px;
    display: grid;
  }
  &-name {
    font-weight: 100;
  }
  &-row {
    display: grid;
    grid-template-columns: 70px auto;
  }
}
