@import "../../../../variables.scss";
.header-link {
    width: fit-content;
    height: 40px;
    font-size: 20px;
    line-height: 60px;
    color: $color-dark;
    transition: 0.5s;

    &:hover {
        cursor: pointer;
        &:after {
            width: 66%;
        }
    }

    &:after {
        transition: 0.2s;
        transition-timing-function: linear;
        display: block;
        position: relative;
        top: -20%;
        content: "";
        width: 0%;
        height: 3px;
        background-color: $color-dark;
    }

    &-title {
        &[isActive="true"] {
            &.header-link::after {
                width: 100%;
            }
        }
        line-height: 45px;
        height: 45px;
    }
}

body[dark="true"] {
    .header-link-title {
        color: $color-light;
    }
}
