@import "../../../../variables.scss";
.header-link {
    width: fit-content;
    height: 40px;
    font-size: 20px;
    line-height: 60px;
    color: $color-header;

    &:hover {
        cursor: pointer;
        &.header-link::after {
            width: 100%;
        }
    }

    &:after {
        transition: 0.2s;
        transition-timing-function: linear;
        display: block;
        content: "";
        width: 0%;
        height: 2px;
        background-color: $color-header;
    }

    &-title {
        height: 45px;
    }
}
