@import "variables.scss";
$animationStepTime: 500ms;
html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

body {
    transition: top 0.5s;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    &[dark="true"] {
        background-color: $background-dark;
    }
    background-color: $background-light;
}

.vertical-line {
    position: fixed;
    background-color: black;
    width: 0px;
    top: 10vw;
    left: 0;
    height: 50vw;
}

.content-wrapper {
    opacity: 1;
    position: relative;
    left: 0px;
    top: 50px;
    padding-bottom: 50px;

    @media (max-width: 1200px) {
        width: 75%;
        left: 12.5%;
    }
    &-to-left {
        transition: $animationStepTime;
        left: -100vw;
    }

    &-set-right {
        left: 100vw;
    }

    &-to-right {
        transition: $animationStepTime;
        left: 100vw;
    }

    &-set-left {
        left: -100vw;
    }

    &-to-middle {
        transition: $animationStepTime;
        left: 0px;
        @media (max-width: 1200px) {
            width: 75%;
            left: 12.5%;
        }
    }
}
