@import "variables.scss";
html {
    scroll-behavior: smooth;
}
body {
    font-family: Roboto;
    margin: 10px;
    margin-top: 70px;
    transition: 0.5s;
    background-color: $background-light;
    &[dark] {
        background-color: $background-dark;
    }
}

.content-wrapper {
    transition: 1s;
    opacity: 1;
    position: relative;
    top: 0px;
    width: 60%;
    left: 20%;

    @media (max-width: 1200px) {
        width: 90%;
        left: 5%;
    }

    &[animation] {
        position: relative;
        top: 50px;
        opacity: 0;
    }
}
