@import "variables.scss";
body {
    font-family: Century Schoolbook;
    margin: 10px;
    margin-top: 110px;
    transition: 0.5s;
    background-color: $background-light;
    &[dark] {
        background-color: $background-dark;
    }
}

.content-wrapper {
    transition: 0.25s linear;
    opacity: 1;
    position: relative;
    top: 0px;
    &[animation] {
        top: 100px;
        opacity: 0;
    }
}
