$background-dark: rgb(15, 19, 15);
$background-light: white;
$background-header-light: rgb(40, 44, 40);
$background-header-dark: rgb(220, 220, 220);
$background-card-light: #ffffff;
$background-card-dark: rgb(40, 44, 40);
$color-dark: #c8c8ff;
$color-light: rgb(15, 19, 15);
$highlight: #dd6312;
$svg-dark-filter: invert(74%) sepia(0%) saturate(421%) hue-rotate(233deg) brightness(109%) contrast(105%);
$svg-light-filter: invert(6%) sepia(19%) saturate(481%) hue-rotate(71deg) brightness(96%) contrast(98%);
