@import "../../../variables.scss";
.impressum {
    &-header {
        transition: 0.51s;
        display: flex;
        width: fit-content;
        position: fixed;
        bottom: 0;
        left: 0;
        @media (min-width: 768px) {
            &::before {
                margin-right: 5px;
                content: "\2B85";
            }
        }
        &:hover {
            cursor: pointer;
        }
        padding: 5px;
        background-color: $background-card-dark;
        color: $color-dark;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin: 0;
        display: flex;
        font-size: 0.7em;
    }
    &-body {
        transition: 0.5s;
        height: 0px;
        @media (max-width: 768px) {
            width: calc(100% - 20px);
        }
        width: fit-content;
        position: fixed;
        bottom: 0;
        left: 0;
        color: transparent;
        user-select: none;
        background-color: $background-card-dark;
    }
    &-header[opened] {
        position: fixed;
        left: 0;
        bottom: 83px;
        z-index: 1;
        @media (min-width: 768px) {
            &::before {
                content: "\2B87    ";
            }
        }

        & ~ .impressum-body {
            padding: 10px;
            color: $color-dark;
            font-size: 12px;
            user-select: text;
            visibility: visible;
            border-top-right-radius: 2px;
            background-color: $background-card-dark;
            height: 65px;
        }
    }
}
