@import "../../../variables.scss";
.impressum {
    &-header {
        transition: 0.5s;
        display: flex;
        width: fit-content;
        position: fixed;
        bottom: 0;
        left: 0;
        &::before {
            margin-right: 5px;
            content: "\2B85";
        }
        background-color: white;
        padding-inline: 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin: 0;
        display: flex;
        font-size: 0.8em;
    }
    &-body {
        transition: 0.5s;
        height: 0;
        width: fit-content;
        position: fixed;
        bottom: 0;
        left: 0;
        color: transparent;
        user-select: none;
    }
    &-header[opened] {
        position: fixed;
        left: 0;
        bottom: 83px;
        z-index: 1;
        &::before {
            content: "\2B87    ";
        }

        & ~ .impressum-body {
            padding: 10px;
            color: $color-light;
            font-size: 12px;
            user-select: text;
            visibility: visible;
            border-top-right-radius: 2px;
            background-color: white;
            height: 65px;
        }
    }
    &-opening-button {
    }
}

body[dark="true"] {
    .impressum {
        &-header {
            border-bottom: 1px solid white;
        }
    }
}
