@import "../../../../variables.scss";
.burger-menu {
    margin-left: 16px;
    position: relative;
    top: 5px;

    @media (min-width: 1200px) {
        opacity: 0;
        visibility: hidden;
        width: 0;
    }

    &-line {
        fill: $color-dark;
        stroke: $color-dark;
        stroke-width: 3px;
        stroke-linecap: round;
    }
}
