@import "../../../../../variables.scss";

.portfolio-main {
    &-container {
        transition: 0.5s;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 30px;
        width: 100%;
        user-select: none;
        padding-bottom: 150px;
        opacity: 0;
        transition: 500ms;
        background-color: $background-light;
        padding: 20px;

        @media (max-width: 1200px) {
            left: -5%;
        }
    }

    &-cheering {
        @media (max-width: 1200px) {
            height: 60px;
            line-height: 20px;
        }

        transition: 0.5s;
        height: 17.5px;
        border-radius: 10px;
        background-color: $background-header-light;
        padding: 20px;
        text-align: center;
        color: $color-dark;
    }

    &-intro {
        @media (max-width: 1200px) {
            width: 100%;
            display: block;
        }

        width: 600px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        &-name {
            transition: 0.5s;
            color: $color-light;
            font-size: 50px;
            &-description {
                margin-top: 20px;
                font-size: 20px;
            }

            @media (max-width: 1200px) {
                font-size: 30px;
                text-align: center;
            }
        }

        &-picture {
            position: relative;
            top: 3px;
            left: 3px;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-repeat: no-repeat;
            filter: contrast(1.05) saturate(0.8) brightness(0.9);

            &-wrapper {
                width: 156px;
                @media (max-width: 1200px) {
                    margin: auto;
                }
                height: 156px;
                border-radius: 100%;
                overflow: hidden;
                background-color: rgba(200, 200, 255, 0.4);
            }
        }
    }
}

.show-portfolio-main {
    animation: show-portfolio-main-anim 750ms forwards;
}
.hide-portfolio-main {
    animation: hide-portfolio-main-anim 750ms forwards;
}

@keyframes show-portfolio-main-anim {
    from {
        top: 5vh;
        opacity: 0;
    }
    to {
        top: 0vh;
        opacity: 1;
    }
}

@keyframes hide-portfolio-main-anim {
    from {
        top: 0vh;
        opacity: 1;
    }
    to {
        top: 5vh;
        opacity: 0;
    }
}

body[dark] {
    .portfolio-main {
        &-container {
            background-color: $background-header-light;
        }
        &-cheering {
            background-color: $background-dark;
            color: $color-dark;
        }
        &-intro-name {
            color: $color-dark;
        }
    }
}
