.adsense {
    display: flex;
    position: relative;
    user-select: none;
    transition: 0.5s;
    width: 700px;
    height: fit-content;
    margin: auto;
    margin-bottom: 10px;

    @media (max-width: 1200px) {
        display: block;
        width: 100%;
        margin-left: auto;
    }
}

.adsbygoogle[data-add-status="unfilled"] {
    display: none !important;
}
