@import "../../../variables.scss";
.blog-card {
    display: flex;
    position: relative;
    user-select: none;
    height: 200px;
    margin: auto;
    margin-bottom: 10px;
    background-color: white;
    outline: 2px solid #efefef;
    border-radius: 1px;

    @media (max-width: 1200px) {
        display: block;
        width: 100%;
        margin-left: auto;
        height: fit-content;
    }

    &-content {
        width: 70%;
        display: grid;
        grid-template-rows: 30% 50% 22px 20px;
        &:hover {
            cursor: pointer;

            & > .blog-card-title {
                cursor: pointer;
                color: $highlight;
            }
        }

        @media (max-width: 1200px) {
            display: block;
            width: 100%;
            height: 70%;
        }
    }

    &-categories {
        display: flex;
        column-gap: 5px;
        margin-left: 15px;
        @media (max-width: 1200px) {
            // display: none;
            margin-bottom: 15px;
        }
    }

    &-category {
        display: block;
        background-color: $highlight;
        padding: 5px;
        border-radius: 5px;
        font-size: 10px;
    }

    &-text {
        padding: 15px;
        font-size: 15px;
        color: rgb(100, 100, 100);
        &:hover {
            cursor: pointer;
        }
    }

    &-credentials {
        display: flex;
        font-size: 10px;
        z-index: 0;
        padding: 15px;
        padding-top: 5px;
        overflow: hidden;
        align-items: center;
        margin: auto;
        margin-right: 0;
        width: 30%;
        height: calc(100% - 20px);
        background-color: #efefef;

        @media (max-width: 1200px) {
            height: 30%;
            width: calc(100% - 20px);
            padding: 10px;
            padding-left: 10px;
        }
    }

    &-title {
        font-size: 22px;
        padding: 15px;
        padding-left: 15px;
        padding-bottom: 3px;
        min-height: 60px;
        color: $background-card-dark;
    }

    &-image {
        border-radius: 100%;
        width: 60px;
        height: 60px;
        &:hover {
            cursor: pointer;
            outline: 2px solid $highlight;
        }
    }
    &-metadata {
        font-size: 16px;
        font-style: italic;
        margin-left: 10px;
    }
    &-date {
        margin-top: 5px;
        font-size: 12px;
    }
}

body[dark="true"] {
    .blog-card {
        &-title {
            color: $color-dark;
        }
        &-metadata {
            color: $color-dark;
        }
        &-credentials {
            background-color: $background-dark;
        }
        background-color: $background-card-dark;
        outline: 1px solid $background-card-dark;
    }
}
