@import "../../../../variables.scss";
.bio {
    @media (max-width: 1200px) {
        width: 95vw;
        position: relative;
        left: -10vw;
    }
    &-list {
        margin: 0;
        &-item {
            transition: 0.5s;
            display: flex;
            @media (max-width: 1200px) {
                display: block;
                margin-bottom: 30px;
            }
            color: $color-light;
            font-size: 18px;
            margin-top: 10px;
        }
        &-year {
            font-size: 12px;
            width: 85px;

            @media (max-width: 1200px) {
                width: 200px;
            }
        }
        &-ul {
            margin-left: 20px;
        }
    }
}

body[dark] {
    .bio-list-item {
        color: $color-dark;
    }
}
