.main {
    width: 700px;
    margin-left: calc(50vw - 350px);

    &-filter {
        display: flex;
        margin-bottom: 15px;
    }
}

@media (max-width: 1200px) {
    .main {
        width: 100%;
        margin: 0;

        &-filter {
        }
    }
}

@media (max-width: 370px) {
    .main-filter {
        display: grid;
        grid-template-columns: auto auto auto;
        row-gap: 5px;
    }
}
@media (max-width: 290px) {
    .main-filter {
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 5px;
    }
}
