@import "../../../../variables.scss";
.entry-header {
    margin-bottom: 60px;
    &-title {
        margin: 0 0 50px 0;
        font-size: 32px;
    }

    &-image {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        margin: auto 0px auto 0px;

        &:hover {
            outline: 3px solid $highlight;
            cursor: pointer;
        }
    }
    &-wrapper {
        display: flex;
    }
    &-shortdescription {
        font-size: 12px;
        font-style: italic;
    }
    &-metadata {
        margin: auto 0px auto 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
    &-date {
        font-size: 12px;
        font-style: italic;

        @media (max-width: 1200px) {
            margin-top: 30px;
        }
    }
    &-return {
        height: 30px;
        width: 75px;
        line-height: 30px;
        margin-left: calc(100% - 75px);
        background-color: $highlight;
        border: none;
        border-radius: 5px;
        color: black;

        @media (max-width: 768px) {
            width: 100%;
            margin-left: 0;
        }
    }
}

body[dark="true"] {
    .entry-header {
        color: $color-dark;
    }
}
