@import "../../../../variables.scss";
.theme-switcher {
    width: 40px;
    height: 40px;
    user-select: none;
    border-radius: 5px;
    overflow: hidden;
    background-color: $background-header-light;

    &:hover {
        cursor: pointer;
    }

    &-mover {
        position: relative;

        & > img:focus-visible {
            outline: none;
        }
    }
}

body[dark="true"] {
    .theme-switcher {
        background-color: $background-light;
    }
}
