@import "../../../../variables.scss";
.theme-switcher {
    width: 40px;
    height: 40px;
    user-select: none;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
    background-color: $background-header-light;

    &:hover {
        cursor: pointer;
    }

    &-mover {
        position: relative;
        transition: 0.5s;
        & > img:focus-visible {
            outline: none;
        }
    }

    @media (max-width: 1200px) {
        visibility: hidden;
        width: 0;
    }
}

body[dark] {
    .theme-switcher {
        background-color: $background-light;
    }
}
