@import "../../../../variables.scss";

.caption {
    font-size: 24px;
    width: fit-content;
    padding: 3px;
    color: $color-light;
    border-bottom: 2px solid $color-light;
    margin-bottom: 30px;
    transition: 0.5s;
}

body[dark] {
    .caption {
        color: $color-dark;
        border-bottom: 2px solid $color-dark;
    }
}
