@import "../../../variables.scss";

.header {
    transition: 0.5s;
    transition: top 0s;
    position: fixed;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    top: 0;
    left: 0;
    width: 45px;
    padding: 20px;
    margin: 0;
    height: 100vh;
    z-index: 10000;
    backdrop-filter: blur(5px);
    background-color: $background-header-light;
    color: $color-dark;

    @media (max-width: 1200px) {
        height: 80px;
        width: 60%;
        padding: 0;
        left: 20%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        flex-direction: row;
        align-items: center;
        justify-content: start;
    }

    &-swipe-text {
        visibility: hidden;
        @media (max-width: 1200px) {
            visibility: visible;
            position: relative;
            font-size: 14px;
            text-align: center;
            align-self: flex-end;
            margin-bottom: 10px;
            margin-inline: auto;
        }
    }

    &-links {
        text-align: center;
        overflow: hidden;
        height: 100vh;
        background-color: transparent;

        @media (max-width: 1200px) {
            visibility: hidden;
            width: 0;
        }

        &-show {
            visibility: visible;
            left: -5px;
        }
    }

    &-transition-return {
        transition: top 1s;
    }
}

body[dark] {
    .header {
        background-color: $background-header-dark;
    }
    .header-links {
        @media (max-width: 1200px) {
            background-color: $background-header-dark;
        }
    }
}
