@import "../../../variables.scss";
.header {
    position: fixed;
    display: grid;
    grid-template-columns: 15% 45% 15% 15%;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    height: 60px;
    margin: 0;
    backdrop-filter: blur(5px);
    background-color: $background-header-light;
    color: $color-dark;
    &-left {
        display: flex;
        column-gap: 20px;
    }
    &-right {
        display: flex;
        justify-content: flex-end;
        margin-right: 40px;
    }
}

body[dark] {
    .header {
        background-color: $background-header-dark;
    }
}
