@import "variables.scss";

.footer {
  transition: 0.5s;
  background-color: $background-card-credentials-light;
  height: 100px;
  width: 700px;
  margin: auto;
  padding-top: 30px;
  outline: 2px solid $background-card-credentials-light;

  @media (max-width: 768px) {
    width: auto;
  }

  &-label {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 20px;
  }

  &-content {
    display: flex;
    justify-content: space-around;
    width: 25%;
    margin: auto;
  }

  &-link {
    &::after {
      content: "";
      display: block;
      position: relative;
      height: calc(100% + 10px);
      width: 0;
      transition: 0.5s;
      backdrop-filter: invert(1);
      top: calc(-100% - 5px);
      left: -5px;
    }

    padding: 5px;

    &:hover {
      cursor: pointer;

      &::after {
        width: calc(100% + 10px);
      }
    }
  }
}

body[dark="true"] {
  .footer {
    background-color: $background-card-dark;
    outline: 2px solid $background-card-dark;
    color: $color-dark;
  }
}
