@import "../../../../variables.scss";
.entry-body-image {
    margin-top: 29px;
    margin-bottom: 25px;
    margin-inline: auto;
    padding: 5px;
    overflow: hidden;
    border-radius: 5px;

    &-image {
        display: block;
        margin: auto;

        @media (max-width: 1200px) {
            width: 100%;
        }
    }

    @media (max-width: 1200px) {
        display: block;
        width: 100%;
        &-text {
            background-color: $background-light;
        }
    }

    &-text {
        display: block;
        font-size: 18px;
    }
}
