@import "../../../../variables.scss";
.entry-body-image {
    margin-top: 29px;
    margin-bottom: 25px;
    margin-inline: auto;
    transition: 0.2s;
    padding: 5px;

    &-image {
        display: block;
        margin: auto;
        width: 100%;
    }

    @media (max-width: 1200px) {
        display: block;
        width: 100%;
        &-text {
            background-color: $background-light;
        }
    }

    &-text {
        display: block;
        font-size: 18px;
    }
}
