.entry-body-image {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 29px;
    margin-bottom: 25px;
    transition: 0.2s;
    width: 100%;
    padding: 5px;

    @media (max-width: 1200px) {
        display: block;
        grid-template-columns: 100%;
        &-image {
            width: 100% !important;
        }
        &-text {
            background-color: rgb(215, 215, 215);
        }
    }

    &-text {
        display: block;
        font-size: 14px;
    }
}
