@import "../../../../variables.scss";
.link {
    &-button {
        margin: auto;
        background-color: $highlight;
        width: 125px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 5px;
        font-size: 18px;
        transition: 0.5s;
        text-decoration: none;
        color: rgb(15, 19, 15);

        &:hover {
            cursor: pointer;
            filter: saturate(1.5);
        }
    }
    &-arrow {
        width: 8px;
        margin: auto;
        margin-left: 10px;
    }
}
